/* Hero section styles */
.hero {
  background-color: #e0e0e0;
  padding: 100px 20px;
  text-align: left;
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}

.heroContent {
  max-width: 50%;
}
.heroImageContainer {
  width: 40%; 
  text-align: right; 
}

.heroImage {
  border-radius: 50%; 
  background-color: #a8dadc; 
  padding: 20px; 
}

/* Projects section styles */
.projects {
  background-color: #f9f9f9;
}

.projectGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.projectCard {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.projectCard img {
  max-width: 100%;
  height: auto;
}

/* About section styles */
.about {
  background-color: #f0f8ff;
}

/* Contact section styles */
.contact {
  background-color: #f8f8f8;
}

.contact form input,
.contact form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.socialLinks {
  text-align: center;
  margin-top: 20px;
}

.socialLinks a {
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
}